.swiper {
    width: 80%;
    height: fit-content;
    cursor: pointer
}

.swiper-slide img {
    width: 100%
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: rgb(202, 197, 197)
}

.swiper .swiper-pagination-bullet {
    background: rgb(202, 197, 197)
}